@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400');
@import "variables.scss";

body {
  font-family: $source-code;
  font-weight: 300;
  background-color:$yellow;
  color: white;
}

.relative {
  position: relative;
}

.inline {
  display: inline-block;
}

.h-line {
  position: absolute;
  border-bottom: solid 1.5px $pink;
}

.v-line {
  position: absolute;
  border-left: solid 1.5px $pink;
}

a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: white;
  }
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  margin-top: 10px;
  p:nth-child(2) {
    float:right;
    text-align: right;
    padding-right: 10px;
  }
}

.main {
  position: relative;
  margin: 125px auto;
  height: 350px;
  width: 450px;
  text-align: left;
  border: solid 5px $pink;
  border-radius: 15px;
  padding: 50px;
}

p {
  font-size: 14px;
  margin: 5px;
}

.button {
  position: absolute;
  bottom: 50px;
  padding: 5px;
  border: solid 1px white;
  display: inline-block;
  font-size: 14px;
  &:hover {
    cursor: pointer;
    color: white;
    border-color: $pink;
    background-color: $pink;
    text-decoration: none;
  }
}

.rating {
  position: absolute;
  top: 225px;
}

.radio {
  background-color: $pink;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  position: relative;
  display: inline-block;
  &:nth-child(even) {
    margin: 0 77.5px;
  }
  .inner {
    border-radius: 100%;
    border: solid 2px white;
    background-color: transparent;
    height: 8px;
    width: 8px;
    position: absolute;
    left: 4px;
    bottom: 4px;
  }
}

.radio:hover, .inner:hover {
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-right: 10px;
  box-sizing: border-box;
  ul {
    float: right;
    a {
      font-size: 12px;
      line-height: 20px;
    }
  }
  li:nth-child(odd) {
    border-right: solid 1px white;
    padding: 0 10px;
  }
}

// landing lines
#landing-1 {
  position: relative;
  width: 170%;
  left: 100%;
  bottom: 12px;
}

#landing-2 {
  height: 201px;
  left: 100%;
}

#landing-3 {
  width: 700px;
  right: 0;
  top: 200px;
}

#landing-4 {
  height: 102px;
  right: 605px;
  bottom: 63px;
}

#landing-5 {
  right: 500px;
  bottom: 62px;
  width: 106px;
}

//quiz lines

#mainLine {
  left: -85px;
  top: 235px;
  width: 720px;
}

#leftDescription, #rightDescription {
  width: 125px;
  position: relative;
}

#leftDescription {
  right: 55px;
}

#rightDescription {
  left: 55px;
  text-align: right;
}

.optionLine {
  height: 30px;
  position: relative;
}

#rightLine {
  left: 134px;
}

#leftOption {
  position: absolute;
  bottom: 215px;
  left: -85px;
}

#rightOption {
  position: absolute;
  bottom: 215px;
  right: -85px;
}

#buttonLine {
  height: 80px;
  top: 30px;
  right: 20px;
}

#questionNumber {
  position: absolute;
  top: 110px;
  left: -5px;
  width: 50px;
  text-align: center;
}
