@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400");
body {
  font-family: "Source Code Pro", courier, monospace;
  font-weight: 300;
  background-color: #e7d61a;
  color: white; }

.relative {
  position: relative; }

.inline {
  display: inline-block; }

.h-line {
  position: absolute;
  border-bottom: solid 1.5px #e3a19a; }

.v-line {
  position: absolute;
  border-left: solid 1.5px #e3a19a; }

a {
  text-decoration: none;
  color: white;
  font-size: 14px; }
  a:hover {
    text-decoration: underline; }
  a:active {
    color: white; }

.header {
  width: 100%;
  position: absolute;
  top: 0;
  margin-top: 10px; }
  .header p:nth-child(2) {
    float: right;
    text-align: right;
    padding-right: 10px; }

.main {
  position: relative;
  margin: 125px auto;
  height: 350px;
  width: 450px;
  text-align: left;
  border: solid 5px #e3a19a;
  border-radius: 15px;
  padding: 50px; }

p {
  font-size: 14px;
  margin: 5px; }

.button {
  position: absolute;
  bottom: 50px;
  padding: 5px;
  border: solid 1px white;
  display: inline-block;
  font-size: 14px; }
  .button:hover {
    cursor: pointer;
    color: white;
    border-color: #e3a19a;
    background-color: #e3a19a;
    text-decoration: none; }

#buttonTitle {
  margin: 0; }

.rating {
  position: absolute;
  top: 225px; }

.radio {
  background-color: #e3a19a;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  position: relative;
  display: inline-block; }
  .radio:nth-child(even) {
    margin: 0 77.5px; }
  .radio .inner {
    border-radius: 100%;
    border: solid 2px white;
    background-color: transparent;
    height: 8px;
    width: 8px;
    position: absolute;
    left: 4px;
    bottom: 4px; }

.radio:hover, .inner:hover {
  cursor: pointer; }

h4 {
  text-decoration: underline;
  margin-left: 5px; }

#description {
  width: 200px;
  float: left; }
  #description p {
    margin-bottom: 15px; }

#image {
  float: right; }
  #image img {
    width: 200px;
    vertical-align: middle; }

#toaster, #chair {
  margin-top: 40px; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-right: 10px;
  box-sizing: border-box; }
  .footer ul {
    float: right; }
    .footer ul a {
      font-size: 12px;
      line-height: 20px; }
  .footer li:nth-child(odd) {
    border-right: solid 1px white;
    padding: 0 10px; }

#landing-1, #error-1 {
  position: relative;
  width: 170%;
  left: 100%;
  bottom: 12px; }

#error-1 {
  width: 248px; }

#landing-2, #error-2 {
  height: 201px;
  left: 100%; }

#landing-3, #error-3 {
  width: 700px;
  right: 0;
  top: 200px; }

#landing-4, #error-4 {
  height: 98px;
  right: 605px;
  bottom: 63px; }

#landing-5, #error-5 {
  right: 500px;
  bottom: 62px;
  width: 106px; }

#mainLine {
  left: -85px;
  top: 235px;
  width: 720px; }

#leftDescription, #rightDescription {
  width: 125px;
  position: relative; }

#leftDescription {
  right: 55px; }

#rightDescription {
  left: 55px;
  text-align: right; }

.optionLine {
  height: 30px;
  position: relative; }

#rightLine {
  left: 134px; }

#leftOption {
  position: absolute;
  bottom: 215px;
  left: -85px; }

#rightOption {
  position: absolute;
  bottom: 215px;
  right: -85px; }

#buttonLine {
  height: 80px;
  top: 30px;
  right: 20px; }

#questionNumber {
  position: absolute;
  top: 110px;
  left: -5px;
  width: 50px;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
